{% extends 'layout.html' %} {% from "macros.html" import render_field %} {%
block content %}
<section>
  <div class="container">
    <div class="edit-entry">
      <h2>Edit Entry</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="title">Title</label>
        {{ form.title }}
        <label for="date">Date</label>
        {{ form.date }}
        <label for="time_spent">Time Spent</label>
        {{ form.time_spent }}
        <label for="content">What I Learned</label>
        {{ form.content }}
        <label for="resources">Resources to Remember</label>
        {{ form.resources }}
        <label for="text_tags">Tags</label>
        {{ form.text_tags() }}
        <input type="submit" value="Confirm Changes" class="button" />
        <a
          href="{{ url_for('detail', slug=entry.slug)}}"
          class="button button-secondary"
          >Cancel</a
        >
        <a
          href="{{ url_for('delete', slug=entry.slug)}}"
          class="button button-warning"
          >Delete</a
        >
      </form>
    </div>
  </div>
</section>
{% endblock %}
