{% extends 'layout.html' %} {% block content %}
<section>
  <div class="container">
    <div class="entry-list">
      <h2>{{ heading }}</h2>
      <p></p>

      {% for entry in entries %}
      <article>
        <h2>
          <a href="{{ url_for('detail', slug=entry.slug)}}">{{
            entry.title
          }}</a>
        </h2>
        <time datetime="{{ entry.date }}">{{ entry.date }}</time>
        <p></p>
        {% if entry.tags %} {% for tag in entry.tags.split() %}
        <a class="buttontag" href="{{ url_for('index', tag=tag)}}">{{ tag }}</a>

        {% endfor %} {% else %}
        <P>Add some #tags here!</P>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
